<div *ngIf="!loginshow" class="container w-50 mt-5 border rounded p-3">
    <h2 class="text-center">Login Page</h2>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password" required />
      </div>
      <button type="button" class="btn btn-danger w-100" (click)="login()">Login</button>
    </form>
  </div>